
.blog {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blog > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.blog > div > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
    text-align: center;
}

.barra {
    width: 11.25rem;
    height: 0.25rem;
    background-color: #B81515;
}

.comentario {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.card {
    width: 80rem;
    height: auto;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px black;
}

.card > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #B81515;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 1rem;
}

.card > div > h2 {
    font-size: 2rem;
    font-family: "Montserrat";
    
}

.card > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
}

.card > div > div > h3 {
    font-size: 2rem;
    font-family: "Montserrat";
}

.card > div > div > p {
    font-size: 2rem;
    font-family: "Montserrat";
    color: black;
    font-weight: 700;
}

.card > p {
    font-size: 1.5rem;
    color: black;
    font-family: "Montserrat";
    padding: 1rem;
}

/*---------------------RESPONSIVIDADE----------------------------- */

@media(max-width: 1325px) {
    .card {
        width: 50rem;
    }
}

@media(max-width: 850px) {
    .card {
        width: 30rem;
    }

    .card > div > div {
        gap: 2rem;
    }

    .card > div > div > h3 {
        font-size: 1.5rem;
    }

    .card > div > div > p {
        font-size: 1.5rem;
    }
}


@media(max-width: 530px) {
    .card {
        width: 20rem;
    }

    .card > div {
        flex-direction: column;
        gap: 1rem;
    }

    .card > div > div {
        flex-direction: column;
        gap: 0.5rem;
    }
}