.imagem > img {
    width: 100%;
    height: 38.75rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*------RESPONSIVIDADE --------- */
@media(max-width: 832px) {
    .imagem > img {
        height: 35rem;
    }
}

@media(max-width: 570px) {
    .imagem > img {
        height: 25rem;
    }
}

@media(max-width: 420px) {
    .imagem > img {
        height: 15rem;
    }
}

/*BOAS VINDAS */

.boas_vindas {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.boas_vindas > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.boas_vindas > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.barra {
    width: 11.25rem;
    height: 0.25rem;
    background-color: #B81515;
}

.boas_vindas > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 10rem;
    width: 75rem;
}

.boas_vindas > div:last-of-type > p {
    font-family: "Montserrat";
    color: black;
    font-weight: 400;
    font-size: 1.25rem;

}

/*---------RESPONSIVIDADE ----------- */
@media(max-width: 1207px) {
    .boas_vindas > div:last-of-type {
        width: 60rem;
    }
}

@media(max-width: 980px) {
    .boas_vindas {
        margin-bottom: 5rem;
    }

    .boas_vindas > div:last-of-type {
        width: 50rem;
        
    }
}

@media(max-width: 810px) {
    .boas_vindas {
        margin-bottom: 12rem;
    }

    .boas_vindas > div:last-of-type {
        width: 30rem;
        text-align: center;
    }
}

@media(max-width: 510px) {
    .boas_vindas > div:last-of-type{
        width: 20rem;
        height: 15rem;
        text-align: center;
    }
}


/*OFERTAS DA SEMANA */
.ofertas {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.ofertas > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.ofertas > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.barra {
    width: 11.25rem;
    height: 0.25rem;
    background-color: #B81515;
}

.ofertas > div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ofertas > div:last-of-type > div > div > div > p {
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
}

.ofertas > div:last-of-type > div > div > div > h1 {
    font-weight: 700;
    font-size: 2rem;
    font-family: "Montserrat";
    color: white;
}

.ofertas > div:last-of-type > div > div > h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.ofertas > div:last-of-type > div > div > button {
    width: 11.375rem;
    height: 4rem;
    border-radius: 8px;
    padding: 16px;
    background-color: #B81515;
    color: #f5f5f5;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Montserrat";
    cursor: pointer;
    border: none;
}

.ofertas > div:last-of-type > div > div > button:hover {
    width: 12.5rem;
    height: 5rem;
    opacity: 0.8;
    text-decoration: underline;
    color: blue;
}

.linha1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    
}

.japao {
    background-image: url("src/assets/card-japa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 36.75rem;
    height: 18.375rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.japao > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.sanandres {
    background-image: url("src/assets/card-san.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 36.75rem;
    height: 18.375rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.sanandres > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.para {
    background-image: url("src/assets/card-paraiba.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 36.75rem;
    height: 18.375rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
   
}

.para > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}

.manaus {
    background-image: url("src/assets/card-manaus.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 36.75rem;
    height: 18.375rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*-------RESPONSIVIDADE -------- */
@media(max-width: 1207px) {
    .japao {
        width: 30rem;
        height: 18rem;
    }
    .sanandres {
        width: 30rem;
        height: 18rem;
    }
    .para {
        width: 30rem;
        height: 18rem;
    }
    .manaus {
        width: 30rem;
        height: 18rem;
    }
}

@media (max-width: 1050px) {
    .japao {
        width: 25rem;
        height: 18rem;
    }
    .sanandres {
        width: 25rem;
        height: 18rem;
    }
    .para {
        width: 25rem;
        height: 18rem;
    }
    .manaus {
        width: 25rem;
        height: 18rem;
    }
}

@media (max-width: 900px) {
    .linha1 {
        flex-direction: column;
        align-items: center;
    }
    .japao {
        width: 36rem;
        height: 18rem;
    }
    .sanandres {
        width: 36rem;
        height: 18rem;
    }
    .para {
        width: 36rem;
        height: 18rem;
    }
    .manaus {
        width: 36rem;
        height: 18rem;
    }
}

@media(max-width: 750px) {
    .japao {
        width: 30rem;
        height: 18rem;
    }
    .sanandres {
        width: 30rem;
        height: 18rem;
    }
    .para {
        width: 30rem;
        height: 18rem;
    }
    .manaus {
        width: 30rem;
        height: 18rem;
    }
}

@media(max-width: 550px) {
    .japao {
        width: 25rem;
        height: 20rem;
    }
    .sanandres {
        width: 25rem;
        height: 20rem;
    }
    .para {
        width: 25rem;
        height: 20rem;
    }
    .manaus {
        width: 25rem;
        height: 20rem;
    }
}

@media(max-width: 540px) {
    .boas_vindas > div:first-of-type > h1 {
        font-size: 2rem;
    }

    .ofertas > div:first-of-type > h1 {
        font-size: 2rem;
    }
}

@media(max-width: 480px) {
    .japao {
        width: 18rem;
        height: 18rem;
    }
    .sanandres {
        width: 18rem;
        height: 18rem;
    }
    .para {
        width: 18rem;
        height: 18rem;
    }
    .manaus {
        width: 18rem;
        height: 18rem;
    }
}

/*BUSQUE POR CATEGORIA */

.categoria {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.categoria > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.categoria > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.categoria > div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.box {
    background-color: #f5f5f5;
    width: 17.578rem;
    height: 14.375rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    cursor: pointer;
}

.box:hover {
    width: 18rem;
    height: 15rem;
    text-decoration: underline;
    color: blue;
}


.box > h1 {
    font-family: "Montserrat";
    font-size: 2rem;
    color: black;
    font-weight: 700;
    text-align: center;
    width: 15.563rem;
    height: 4.875rem;
}

.box > h1:hover {
    color: blue;
}

/*---------RESPONSIVIDADE-------- */
@media(max-width: 1200px) {
    .box {
        width: 15rem;
    }
    .box > h1 {
        font-size: 1.75rem;
    }
}

@media(max-width: 1100px) {
    .box {
        width: 10rem;
    }

    .box > h1 {
        width: 10rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 760px) {
    .categoria > div:last-of-type {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 18rem;
    }

    .box > h1 {
        font-size: 2rem;
        width: 15rem;
    }
}

@media(max-width: 540px) {
    .categoria > div:first-of-type > h1 {
        font-size: 2rem;
    }
}

/*DESTINOS POPULARES*/
.destino {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.destino > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.destino > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.destino > div:last-of-type {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.espaco {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.espaco > img {
    width: 36.75rem;
    height: 28.25rem;
}

.espaco > h1 {
    color: black;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2rem;
}

.espaco > p {
    color: black;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.25rem;
    width: 36.75rem;
    height: 8rem;
}

.espaco > button {
    background-color: #B81515;
    width: 11.375rem;
    height: 4rem;
    border-radius: 8px;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: "Montserrat";
    border: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.espaco > button:hover {
    text-decoration: underline;
    color: blue;
    box-shadow: 4px 4px 0px red;
    transform: scale(1.05);
}

/*--------RESPONSIVIDADE------------- */

@media(max-width: 1220px) {
    .espaco > img {
        width: 30rem;
    }

    .espaco > p {
        width: 30rem;
    }
}

@media(max-width: 975px) {
    .espaco > img {
        width: 25rem;
        height: 25rem;
    }

    .espaco > p {
        width: 25rem;
        margin-bottom: 1rem;
    }
}

@media(max-width: 830px) {
    .espaco > img {
        width: 20rem;
        height: 20rem;
    }

    .espaco > p {
        width: 20rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 700px) {
    .destino > div:last-of-type {
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
}

@media(max-width: 540px) {
    .destino > div:first-of-type > h1 {
        font-size: 2rem;
    }
}

/*CONDIÇÕES DE PAGAMENTO */

.pagamento {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.pagamento > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.pagamento > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.pagamento > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.text > h1 {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    color: black;
    width: 17.813rem;
    height: 4.875rem;
}

.text > p {
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    width: 22.563rem;
    height: 7rem;
}

.imagens {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.imagens > div:first-of-type {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.imagens > div:first-of-type > img {
    width: 23.969rem;
    height: 15.875rem;
}

.imagens > img {
    width: 49.375rem;
    height: 11.375rem;
}

/*------RESPONSIVIDADE------- */

@media(max-width: 1220px) {
    .imagens > div:first-of-type > img {
        width: 15rem;
        height: 15.875rem;
    }
    
    .imagens > img {
        width: 31.5rem;
    }
}

@media(max-width: 965px) {
    .pagamento > div:last-of-type {
        gap: 18px;
    }
    .text > p {
        width: 15rem;
    }
 }

 @media(max-width: 850px) {
    .pagamento > div:last-of-type {
        gap: 2px;
    }

    .text> h1 {
        font-size: 1.5rem;
    }

    .text> p {
        font-size: 1rem;
    }

    
    .imagens > div:first-of-type > img {
        width: 10rem;
        height: 10rem;
    }
    
    .imagens > img {
        width: 21.5rem;
    }
 }

 @media(max-width: 650px){
    .pagamento > div:last-of-type {
        flex-direction: column;
    }

 }

 @media(max-width: 540px) {
    .pagamento > div:first-of-type > h1 {
        font-size: 2rem;
    }
 

 }

 /* DEPOIMENTOS */


 .depoimento {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.depoimento > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.depoimento > div:first-of-type > h1 {
    color: black;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.depoimento > div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.caixa {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.caixa > p {
    font-family: "Montserrat";
    color: black;
    font-weight: 400;
    font-size: 1rem;
    width: 24rem;
}

.caixa > div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.caixa > div > img {
    width: 5.375rem;
    height: 5.375rem;
}

.caixa > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.caixa > div > div > h1 {
    font-family: "Montserrat";
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.caixa > div > div > img {
    width: 11rem;
    height: 2rem;
    gap: 4px;
}

/*-----------RESPONSIVIDADE--------- */
@media(max-width: 1220px) {
    .caixa> p {
        width: 20rem;
    }
}

@media (max-width: 1020px) {
    .caixa> p {
        width: 15rem;
    }
}

@media(max-width: 895px) {
    .depoimento > div:last-of-type {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .caixa {
        flex-direction: row;
        gap: 30px;
    }
}

@media(max-width: 575px) {
    .caixa> div {
        gap: 5px;
    }

    .caixa > div > img {
        width: 4rem;
        height: 4rem;
    }

    .caixa > div > div > h1 {
        font-size: 1rem;
    }

    .caixa > div > div > img {
        width: 8rem;
    }
}

@media(max-width: 540px) {
    .depoimento > div:first-of-type > h1 {
        font-size: 2rem;
    }

    .depoimento > div:last-of-type {
        gap: 50px;
    }

    .caixa {
        flex-direction: column;
        gap: 10px;
    }
}


section:last-of-type > img {
    width: 100%;
    margin-bottom: -1rem;
}