


.header {
    background-color: black;
    width: 100%;
    height: 8.625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}


.header > section:first-of-type > img {
    width: 16.25rem;
    height: 4rem;
}


.texto {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}


.h1 {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: "Montserrat";
}


.h1:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.h1:active {
    opacity: 90%;
}


.texto > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


.texto > div > h1 {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: "Montserrat";
}


.texto > div > img {
    width: 2.667rem;
    height: 1.5rem;
}


.menu {
    cursor: pointer;
    display: none;
}

.menu_lista > ul {
    margin-top: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu_lista > ul > li {
    font-size: 1.5rem;
}

.menu > div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}


 /*--------------------------RESPONSIVIDADE-------------------------------  */


 
 @media(max-width: 768px) {
    .header {
        overflow-x: hidden;
    }


    .texto {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }


    .texto:active {
        transform: translateX(0);
    }


    .menu {
        display: block;


    }


    .menu_lista > ul > li {
        display: block;
        color: white;
    }
   
   
    .h1 {
        display: none;
    }

    .texto > div > h1 {
        display: none;
    }


    .texto > div > img {
        display: none;
    }
 }


 @media(max-width: 360px) {
    .header > section:first-of-type > img {
        width: 8rem;
        height: 2rem;
    }
 }
 
