
.footer {
    width: 100%;
    height: 11.5rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.footer > section:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer > section:first-of-type > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.footer > section:first-of-type > img {
    width: 10.115rem;
    height: 2.5rem;
}

.footer > section:first-of-type > div > p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat";
    color: #f5f5f5;
}

.footer > section:last-of-type > p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat";
    color: #f5f5f5;
}

.footer > section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer > section:last-of-type > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer > section:last-of-type > div > img {
    width: 2rem;
    height: 2rem;
}

/*------------------ RESPONSIVIDADE -------------------------- */
@media (max-width: 768px) {
    .footer > section:first-of-type > div {
        width: 20rem;
        height: 7.5rem;
    }
}


@media (max-width: 520px) {
    .footer {
        height: auto;
        flex-direction: column;
        gap: 1rem;
    }

    .footer > section:first-of-type {
        margin-top: 2rem;
    }

    .footer > section:first-of-type > img {
        align-self: center;
    }

    .footer > section:first-of-type > div {
        width: 20rem;
        height: auto;
        gap: 1rem;
        text-align: center;
    }

    
    .footer > section:last-of-type {
        margin-bottom: 2rem;
    }
}

@media (max-width: 360px) {
    .footer > section:first-of-type > div {
        width: 19.5rem;
        }
    }
